{% extends 'base.html' %}


{% block bodyblock %}
    <div class="container">
        <br><br> 
        <h3 class="content">Welcome to <span style="color:#198b90">MyAi Universe</span></h3>
        <br><br>
        <p class="content">
            MyAi is an open source data driven Machine Learning based image classifier program. This currently holds capacity to classify human genderfrom inputs like images and videos. The main target is to create a universal visual database to hold imagery data of larger capacity.
        </p>    
    </div>
{% endblock  %}